<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantServlet</servlet-name>
        <servlet-class>servlets.RestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantServlet</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
